# Google OAuth Credentials
GOOGLE_CLIENT_ID=1052147316925-b6roi5dk4v2fjgnn115plg81s32uo27e.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# NextAuth Configuration
NEXTAUTH_SECRET=fractal-shop-nextauth-secret-key-2024
NEXTAUTH_URL=http://localhost:3000

# Database
DATABASE_URL="mysql://root:password@localhost:3306/fractal_shop"

# API URLs
NEXT_PUBLIC_API_BASE_URL=http://localhost:3001
